 <h1 class="cover-heading" style="background-color:rgba(34, 44, 44, 0.7);">Gyantrips Knowledge Fair.</h1>
            <p class="lead" style="background-color:rgba(34, 44, 44, 0.7);">Step in for your Bright "Future".</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#register">Register now</a>
            </p>
