<h1 class="cover-heading">Schedule</h1>
            <p class="lead"><ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#1st" data-toggle="tab">24<sup>rth</sup> -May </a></li>
  <li><a href="#2nd" data-toggle="tab">7<sup>th</sup> -June</a></li>
  <li><a href="#3rd" data-toggle="tab">8<sup>th</sup> -June</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="1st">...</div>
  <div class="tab-pane" id="2nd">...</div>
  <div class="tab-pane" id="3rd">...</div>
</div>
</p>
