<h1 class="cover-heading">Schedule</h1>
            <p class="lead"><ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#1st" data-toggle="tab"> Day <sup>1</sup></a></li>
  <li><a href="#2nd" data-toggle="tab">Day <sup>2</sup></a></li>
  <li><a href="#3rd" data-toggle="tab">Day <sup>3</sup></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content text-left dd" >
  <div class="tab-pane active" id="1st">
<p class="pp"><u>SCHOLARSHIP TEST </u><br>
Time: will be decleared soon<br>
Venue:District library Premises,Silchar.</p>
</div>
  <div class="tab-pane" id="2nd">
<p class="pp"><u>WORKSHOP FOR THE EXHIBITORS & THE STUDENTS</u><br>
Time: will be decleared soon<br>
Venue:District library Premises,Silchar.
</p></div>
  <div class="tab-pane" id="3rd">
<p class="pp"><u>SEMINAR & EXHIBITION.</u><br>
Time: will be decleared soon(Exhibition) &nbsp; ;&nbsp;
      will be decleared soon (Seminar)<br>
Venue: District library Premises,Silchar. |  District library auditorium ,Silchar. 
</p></div>
</div>
</p>
